.root{
    --primary:#2e3374;
    --accent: #ec7705; 
}

header img {
    max-width:400px;
    width: 75%;
    height: auto;
    /* max-width: 400px;
    height: 200px; */
}

.students img {
    height: 300px;
    width: 400px;
    opacity: 75%;
}

.btn-submit {
    background-color:#2e3374;
    color: white;
}

.btn-submit:hover {
    background-color:#ec7705;
    color: #2e3374;
}
.btn-submit:active {
    background-color:#ffb74d;
    color: #2e3374;
}

.btn a:visited {
    background-color:#ec7705;
    color: #2e3374;
}

.btn-navigate {
    background-color:#ec7705;
    color: #2e3374;
    margin: 2px;
}

.btn-navigate:hover {
    background-color:#2e3374;
    color: #ec7705;
}

.btn-navigate:active {
    background-color:#3f51b5;
    color: white;
}

.btn-navigate:active {
    background-color:#3f51b5;
    color: white;
}
/*  Highscores List CSS -IF*/
#highScoresList{
    list-style: none;
    padding-left: 0;
    margin-bottom: 4rem;
}

.high-score{
    font-size: 2.8rem;
    margin-bottom:0.5rem;

}

.high-score:hover{
    transform: scale(1.025);
}

@media screen and (max-width: 600px) {
    .btn-navigate {
        margin: 2px;
       
    }
    .btn-submit {
        margin: 2px;
    }
}