.root{
    --primary:#2e3374;
    --accent: #ec7705; 
}

header img {
    width: 400px;
    height: 200px;
}

.students img {
    height: 300px;
    width: 400px;
    opacity: 75%;
}

.btn-submit {
    background-color:#2e3374;
    color: white;
}

.btn-submit:hover {
    background-color:#ec7705;
    color: #2e3374;
}

.btn-navigate {
    background-color:#ec7705;
    color: #2e3374;
}

.btn-navigate:hover {
    background-color:#2e3374;
    color: #ec7705;
}
/*  Highscores List CSS -IF*/
#highScoresList{
    list-style: none;
    padding-left: 0;
    margin-bottom: 4rem;
}

.high-score{
    font-size: 2.8rem;
    margin-bottom:0.5rem;

}

.high-score:hover{
    transform: scale(1.025);
}

.title{
    
}